@page "/pages/Login"
@rendermode InteractiveWebAssembly

@using FluentValidation
@using Shared.FluentValidation

@inject HttpClient Http
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject IValidator<UserLoginDTO> Validator

<PageTitle>@Title</PageTitle>

@if (! OperatingSystem.IsBrowser())
{
    <LoadingSpinner Name="@(Title + " WebAssembly")" />
    return;
}

<h3>User Login</h3>

@if (!string.IsNullOrEmpty(Reason))
{
    <div class="alert alert-@(StatusValidation ? "success" : "warning") alert-dismissible d-flex max-width-item">
        <span class="bi @(StatusValidation ? "bi-check-circle-fill" : "bi-exclamation-triangle-fill")"></span>
        <strong class="me-2">@StatusCode</strong> @Reason
        <button type="button" class="btn-close" @onclick="() => Reason = string.Empty"></button>
    </div>
}

@if (errors.Count > 0)
{
<ul class="text-danger mt-4">
    @foreach (var error in errors)
    {
        <li>@error</li>
    }
</ul>
}

<EditForm Model="@loginUser" OnSubmit="HandleRegisterSubmit">
    <div class="mb-3 max-width-item">
        <label for="email" class="form-label">Email:</label>
        <InputText class="form-control" @bind-Value="loginUser.Email" />
    </div>

    <div class="mb-3 max-width-item">
        <label for="password" class="form-label">Password:</label>
        <InputText class="form-control" type="password"  @bind-Value="loginUser.Password" />
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

<br>

<div>Don't have an account? <a href="@RegisterPath">Register</a></div>

@code {
    private readonly string Title = "Login";
    private readonly string RegisterPath = "/pages/Register";
    private UserLoginDTO loginUser = new();
    private bool StatusValidation = false;
    private string StatusCode = string.Empty;
    private string Reason = string.Empty;
    private List<string> errors = new();

    private async Task HandleRegisterSubmit()
    {
        var validator = new UserLoginValidator();
        var results = validator.Validate(loginUser);

        StatusValidation = results.IsValid;
        errors = results.Errors.Select(e => e.ErrorMessage).ToList();
        Reason = string.Empty;

        if (!StatusValidation)
        {
            StatusCode = "";
            Reason = "Please respect the validator suggestions";
            return;
        } else {
            StatusCode = "";
        }

        HttpResponseMessage response = await Http.PostAsJsonAsync("api/v1/login", loginUser);

        StatusValidation = response.IsSuccessStatusCode;
        StatusCode = response.StatusCode + "";

        if (StatusValidation)
            Reason = "User logged in successfully";
        else
            Reason = response.Content.ReadFromJsonAsync<UserMessageDTO>().Result?.Message ?? "Unknown error";
    }
}
