@page "/pages/Users"
@inject HttpClient Http
@rendermode InteractiveWebAssembly

@if (!OperatingSystem.IsBrowser())
{
    <LoadingSpinner Name="@(title + " WebAssembly")" />
    return;
}

<PageTitle>@title</PageTitle>

<h1>@title</h1>

@if (users == null)
{
    <LoadingSpinner Name="@(title + " Data")" />
    return;
}

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (UserDTO user in users)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.Name</td>
                <td>@user.Surname</td>
                <td>@user.Type</td>
            </tr>
        }
    </tbody>
</table>

@code {
    public string title { get; init; } = "Users";

    private UserDTO[]? users { get; set; } = null;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        users = await Http.GetFromJsonAsync<UserDTO[]>("api/v1/users");
        StateHasChanged();
    }
}
