@using FluentValidation
@using Frontend.States
@using Shared.DTOs.User
@using Shared.FluentValidators
@using static Frontend.Components.ErrorBox

@inject HttpClient Http
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject IValidator<UserLoginDTO> Validator
@inject AuthState AuthState
@inject AuthStateNotifier AuthStateNotifier

<PageTitle>@Title</PageTitle>

@if (!OperatingSystem.IsBrowser())
{
    <LoadingSpinner Name="@(Title + " WebAssembly")" />
    return;
}

<h3>User Login</h3>

@if (AuthState.User != null)
{
    <div class="alert alert-success d-flex max-width-item">
        <span class="bi bi-check-circle-fill"></span>
        <strong class="me-2">Success</strong> You are logged in as @AuthState.User.Surname @AuthState.User.Name
    </div>
    return;
}

<CascadingValue Value="errorModel">
    <ErrorBox OnClickCallback="ResetState" />
</CascadingValue>

<EditForm Model="@loginUser" OnSubmit="HandleLoginSubmit">
    <div class="mb-3 max-width-item">
        <label for="email" class="form-label">Email:</label>
        <InputText class="form-control" @bind-Value="loginUser.Email" />
    </div>

    <div class="mb-3 max-width-item">
        <label for="password" class="form-label">Password:</label>
        <InputText class="form-control" type="password"  @bind-Value="loginUser.Password" />
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

<br>

<div>Don't have an account? <a class="text-decoration-underline text-primary" @onclick="() => OnClickCallback.InvokeAsync()">Register</a></div>

@code {

    [Parameter] public EventCallback OnClickCallback { get; set; }

    private readonly string Title = "Login";
    private UserLoginDTO loginUser = new();
    private ErrorBoxModel errorModel = new();

    private async Task HandleLoginSubmit()
    {
        ResetState();

        var validator = new UserLoginValidator();
        var results = validator.Validate(loginUser);

        var StatusValidation = results.IsValid;
        errorModel.Errors = results.Errors.Select(e => e.ErrorMessage).ToList();

        errorModel.StatusCode = "";
        errorModel.Reason = string.Empty;

        if (!StatusValidation)
        {
            errorModel.Reason = "Please respect the validator suggestions";
            return;
        }

        HttpResponseMessage response = await Http.PostAsJsonAsync("api/v1/users/login", loginUser);

        StatusValidation = response.IsSuccessStatusCode;
        errorModel.StatusCode = response.StatusCode + "";

        if (StatusValidation)
        {
            errorModel.Reason = "User logged in successfully";
            AuthState.SetUser(response.Content.ReadFromJsonAsync<UserEntityDTO>().Result);
            AuthStateNotifier.Notify();

            return;
        }

        errorModel.Reason = response.Content.ReadFromJsonAsync<MessageDTO>().Result?.Message ?? "Unknown error";
    }

    private void ResetState()
    {
        errorModel.Reason = string.Empty;
        errorModel.StatusCode = string.Empty;
        errorModel.Errors = new();
    }
}
